.complaint_parentBlock {
  height: 100vh;
  padding: 100px 0 0 0;
}
.complaint_parentBlock h1 {
  padding: 50px 0 0 0;
  position: relative;
}
@media screen and (max-width: 700px) {
  .complaint_parentBlock h1 {
    padding: 10px 0 0 0;
  }
}
.complaint_parentBlock h1 button {
  position: absolute;
  top: 0;
  right: 50px;
  background: rgba(244, 242, 242, 0.559);
  padding: 8px 20px;
  border-radius: 10px;
}
@media screen and (max-width: 750px) {
  .complaint_parentBlock h1 button {
    width: 80px;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    padding: 5px;
    top: -15px;
    right: 10px;
  }
}
.complaint_parentBlock .complaint_childBlock {
  padding: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 1265px) {
  .complaint_parentBlock .complaint_childBlock {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 1265px) and (max-width: 700px) {
  .complaint_parentBlock .complaint_childBlock {
    padding: 20px 0 0 0;
  }
}
.complaint_parentBlock .complaint_childBlock .everyComplaint {
  width: 320px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  position: relative;
  height: 215px;
  overflow-y: scroll;
}
.complaint_parentBlock .complaint_childBlock .everyComplaint h1 {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding: 10px 15px;
  background: white;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border-radius: 15px 15px 0 0;
}
.complaint_parentBlock .complaint_childBlock .everyComplaint h1 p {
  height: 25px;
  line-height: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.complaint_parentBlock .complaint_childBlock .everyComplaint p {
  padding: 10px 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}
.complaint_parentBlock .complaint_childBlock .everyComplaint::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}