.parentBlock_menuBig
    padding: 13px 35px 13px 25px
    background: linear-gradient(180deg, #0019FF 0%, #0E6C70 46.35%, #14FF00 100%)
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.9)
    border-radius: 15px
    max-height: 530px
    margin-top: 25px
    position: sticky
    top: 100px
    @media screen and ( max-width: 600px )
        display: none
    h6
        font-weight: 700
        font-size: 13px
        line-height: 20px
        text-align: center
        color: #FFFFFF
        width: 180px
        margin-bottom: 20px
    ul
        li
            font-weight: 400
            font-size: 14px
            line-height: 20px
            color: #fff
            margin-top: 5px

