.parentBlock_menuBig
    padding: 13px 15px 30px 15px
    background: linear-gradient(180deg, #0019FF 0%, #0E6C70 46.35%, #14FF00 100%)
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.9)
    border-radius: 15px
    margin-top: 25px
    position: sticky
    height: 448px
    top: 200px
    min-width: 300px
    overflow-y: scroll
    @media screen and ( max-width: 1200px )
        top: 175px
        @media screen and ( max-width: 1120px )
            display: none
    h6
        font-weight: 700
        font-size: 13px
        line-height: 20px
        text-align: center
        color: #FFFFFF
        width: 180px
        margin-bottom: 20px
        @media screen and ( max-width: 1100px )
            margin-bottom: 10px
    ul
        li
            margin-bottom: 7px
            button
                font-family: 'Unbounded'
                background: transparent
                border: none
                text-align: left
                font-weight: 300
                font-size: 16px
                line-height: 20px
                color: #fff
                width: 250px
                margin-bottom: 2px
                @media screen and ( max-width: 1100px )
                    font-size: 13px
                    margin-bottom: 0px
                    width: 220px
                a
                    color: #fff
.parentBlock_menuBig::-webkit-scrollbar 
    width: 0
    background-color: transparent
.menu_info 
    display: none
    width: 100%
    position: absolute
    z-index: 10
    background-color: #fff
    padding: 26px 35px 52px
    height: 500px
    overflow-y: scroll
    @media screen and ( max-width: 1120px )
        display: block
        @media screen and ( max-width: 750px )
            padding: 26px 10px 52px
    ul:nth-child(1)
        margin: 10px 0 30px
        li 
            margin-top: 5px
            text-align: left
            button
                font-family: 'Unbounded'
                font-style: normal
                font-weight: 600
                font-size: 18px
                line-height: 22px
                text-align: center
                background: transparent
                border: none
                color: #4B08A1
                a
                    color: #4B08A1

    ul:nth-child(2)
        h5
            font-weight: 500
            font-size: 18px
            line-height: 22px
            color: #4B08A1
        li
            button
                font-family: 'Unbounded'
                font-style: normal
                font-weight: 300
                font-size: 16px
                line-height: 20px
                color: #000000
                margin-top: 10px
                text-align: left
                a
                    color: #000


   