.parentBlock_menuBig {
  padding: 13px 15px 30px 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0019FF), color-stop(46.35%, #0E6C70), to(#14FF00));
  background: linear-gradient(180deg, #0019FF 0%, #0E6C70 46.35%, #14FF00 100%);
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.9);
  border-radius: 15px;
  margin-top: 25px;
  position: sticky;
  height: 448px;
  top: 200px;
  min-width: 300px;
  overflow-y: scroll;
}
@media screen and (max-width: 1200px) {
  .parentBlock_menuBig {
    top: 175px;
  }
}
@media screen and (max-width: 1200px) and (max-width: 1120px) {
  .parentBlock_menuBig {
    display: none;
  }
}
.parentBlock_menuBig h6 {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  width: 180px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1100px) {
  .parentBlock_menuBig h6 {
    margin-bottom: 10px;
  }
}
.parentBlock_menuBig ul {
  position: relative;
}
.parentBlock_menuBig ul li {
  margin-bottom: 7px;
}
.parentBlock_menuBig ul li button {
  font-family: "Unbounded";
  background: transparent;
  border: none;
  text-align: left;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  width: 250px;
  margin-bottom: 2px;
}
@media screen and (max-width: 1100px) {
  .parentBlock_menuBig ul li button {
    font-size: 13px;
    margin-bottom: 0px;
    width: 220px;
  }
}
.parentBlock_menuBig ul li button a {
  color: #fff;
}
.parentBlock_menuBig .btn_navigate {
  position: absolute;
  bottom: 15px;
  right: 20px;
}
.parentBlock_menuBig .btn_navigate > svg {
  width: 40px;
  position: relative;
  height: 40px;
  -webkit-animation-name: menu_anim;
          animation-name: menu_anim;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: #0019FF;
}
@-webkit-keyframes menu_anim {
  5% {
    padding: 10px 0 0 0;
  }
  50% {
    margin: 0px 0 0 0;
  }
  100% {
    margin: -10px 0 0 0;
  }
}
@keyframes menu_anim {
  5% {
    padding: 10px 0 0 0;
  }
  50% {
    margin: 0px 0 0 0;
  }
  100% {
    margin: -10px 0 0 0;
  }
}

.parentBlock_menuBig::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.menu_info {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 10;
  background-color: #fff;
  padding: 26px 35px 52px;
  height: 500px;
  overflow-y: scroll;
}
@media screen and (max-width: 1120px) {
  .menu_info {
    display: block;
  }
}
@media screen and (max-width: 1120px) and (max-width: 750px) {
  .menu_info {
    padding: 26px 10px 52px;
  }
}
.menu_info ul:nth-child(1) {
  margin: 10px 0 30px;
}
.menu_info ul:nth-child(1) li {
  margin-top: 5px;
  text-align: left;
}
.menu_info ul:nth-child(1) li button {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background: transparent;
  border: none;
  color: #4B08A1;
}
.menu_info ul:nth-child(1) li button a {
  color: #4B08A1;
}
.menu_info ul:nth-child(2) h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4B08A1;
}
.menu_info ul:nth-child(2) li button {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-top: 10px;
  text-align: left;
}
.menu_info ul:nth-child(2) li button a {
  color: #000;
}