:root {
    // --root-font-montserrat: 'Montserrat', sans-serif;
    // --root-font-grotesk: 'Reforma Grotesk', sans-serif;
    --root-color-white: #FFF;
    --root-color-black: #000;
}


#root {
    background-color: var(--primary-color);
}