:root {
    --root-font-montserrat: 'Montserrat', sans-serif;
    --root-font-openSans: 'Open Sans', sans-serif;
    --root-font-roboto: 'Roboto', sans-serif;
    --root-font-unbounded: 'Unbounded', sans-serif;
    --root-color-white: #FFF;
    --root-color-black: #000;
}


#root {
    background-color: var(--primary-color);
}