.toBack {
  display: block;
  width: 96%;
  margin: 0 auto;
  padding: 0px 0 30px;
}
@media screen and (max-width: 1390px) {
  .toBack {
    width: 100%;
  }
}
@media screen and (max-width: 1390px) and (max-width: 800px) {
  .toBack {
    width: 84%;
  }
}
.toBack a {
  border: 1px solid black;
  padding: 8px 40px 8px 25px;
  border-radius: 8px;
  background: rgba(244, 242, 242, 0.748);
}
@media screen and (max-width: 800px) {
  .toBack a {
    padding: 5px 30px 5px 15px;
    font-size: 15px;
  }
}
.toBack a img {
  margin-bottom: -2px;
}

.block_for_imgsDetailed {
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.block_for_imgsDetailed .block_for_bigPhoto {
  width: 800px;
  height: 520px;
  border-radius: 20px;
  border: 2px solid black;
}
@media screen and (max-width: 1000px) {
  .block_for_imgsDetailed .block_for_bigPhoto {
    height: 450px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 900px) {
  .block_for_imgsDetailed .block_for_bigPhoto {
    height: 420px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 900px) and (max-width: 750px) {
  .block_for_imgsDetailed .block_for_bigPhoto {
    height: 350px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 900px) and (max-width: 750px) and (max-width: 640px) {
  .block_for_imgsDetailed .block_for_bigPhoto {
    height: 300px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 900px) and (max-width: 750px) and (max-width: 640px) and (max-width: 600px) {
  .block_for_imgsDetailed .block_for_bigPhoto {
    height: 280px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 900px) and (max-width: 750px) and (max-width: 640px) and (max-width: 600px) and (max-width: 420px) {
  .block_for_imgsDetailed .block_for_bigPhoto {
    height: 250px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 900px) and (max-width: 750px) and (max-width: 640px) and (max-width: 600px) and (max-width: 420px) and (max-width: 380px) {
  .block_for_imgsDetailed .block_for_bigPhoto {
    height: 200px;
  }
}
.block_for_imgsDetailed .block_for_bigPhoto img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
.block_for_imgsDetailed .btn_changePhoto {
  display: none;
}
@media screen and (max-width: 1200px) {
  .block_for_imgsDetailed .btn_changePhoto {
    display: block;
    margin: 0 10px;
    border-radius: 15px;
  }
  .block_for_imgsDetailed .btn_changePhoto > svg {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.5);
  }
}
@media screen and (max-width: 1200px) and (max-width: 600px) {
  .block_for_imgsDetailed .btn_changePhoto > svg {
    width: 20px;
    height: 25px;
  }
}
.block_for_imgsDetailed .block_for_miniPhoto {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  overflow-y: scroll;
  max-height: 515px;
  min-height: 100%;
  padding: 0px 20px;
}
@media screen and (max-width: 1200px) {
  .block_for_imgsDetailed .block_for_miniPhoto {
    display: none;
  }
}
.block_for_imgsDetailed .block_for_miniPhoto li {
  height: 120px;
}
.block_for_imgsDetailed .block_for_miniPhoto li button > div {
  width: 129px;
  height: 120px;
  border-radius: 15px;
  border: 1px solid black;
}
.block_for_imgsDetailed .block_for_miniPhoto li button > div img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}