$heightInput: 40px;
.blockSearch {
  display: block;
  width: 600px;
  // margin: 0 0 20px 0;
  position: relative;

  input {
    text-align: left;
    padding: 0 35px 0px 10px;
    width: 100%;
    height: $heightInput;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .search__loop,
  .search__cross {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    right: 0px;
    z-index: 5;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .searchData {
    font-size: 18px;
    background: red;
    position: absolute;
    left: 0;
    top: $heightInput;
    width: 100%;
  }
}
