.blockParent_detaliedApartament
    max-width: 85%
    margin: 0px auto
    padding-top: 60px
    @media screen and ( max-width: 1400px )
        max-width: 100%
    .block_forImgs
        display: flex
        justify-content: space-between
        div
            width: 800px
            height: 560px
            border-radius: 15px
            img
                width: 100%
                height: 100%
                border-radius: 15px
        div:nth-child(2)
            width: 260px
            height: 615px
            display: flex
            // justify-content: space-between
            flex-wrap: wrap
            gap: 15px
            div
                width: 120px
                height: 120px
                img
                    width: 100%
                    height: 100%
    .content_apartament
        width: 100%
        display: flex
        justify-content: space-between
        padding-bottom: 50px
        gap: 30px
        margin: 50px auto 0px
        @media screen and ( max-width: 1400px )
            max-width: 81%
            @media screen and ( max-width: 1250px )
                max-width: 90%
                
        .content_apartament_inner
            max-width: 100%
            @media screen and ( max-width: 1100px )
                width: 90%
                @media screen and ( max-width: 950px )
                    width: 100%
            .number_phone
                display: flex
                background: #FFFFFF
                box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5)
                border-radius: 15px
                align-items: center
                justify-content: space-between
                padding: 17px 30px
                margin: 0 0 40px 0
                @media screen and ( max-width: 1100px )
                    padding: 10px 25px
                    @media screen and ( max-width: 430px )
                        padding: 5px 10px
                        
                h2
                    font-weight: 700
                    font-size: 30px
                    line-height: 50px
                    min-width: 450px
                    color: #007AFF
                    overflow: hidden
                    text-overflow: ellipsis
                    white-space: nowrap
                    @media screen and ( max-width: 1100px )
                        min-width: auto
                        font-size: 22px
                        @media screen and ( max-width: 600px )
                            font-size: 15px
                        
                p
                    font-weight: 500
                    font-size: 25px
                    line-height: 30px
                    color: black
                    @media screen and ( max-width: 1100px )
                        font-size: 18px
                        @media screen and ( max-width: 600px )
                            font-size: 12px
                        
            > ul
                background: rgba(255, 255, 255, 0.5)
                box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5)
                border-radius: 15px
                padding: 20px
                li
                    margin-bottom: 20px
                    h3
                        font-weight: 700
                        font-size: 40px
                        line-height: 50px
                        color: #000000
                        margin-bottom: 20px
                        @media screen and ( max-width: 1000px )
                            font-size: 30px
                            @media screen and ( max-width: 650px )
                                font-size: 23px
                    p
                        font-weight: 700
                        font-size: 24px
                        line-height: 30px
                        color: #000000
                        display: inline-block
                        @media screen and ( max-width: 650px )
                            font-size: 15px
                    span
                        font-weight: 500
                        font-size: 18px
                        line-height: 30px
                        color: #000000
                        margin-left: 10px
                        @media screen and ( max-width: 650px )
                            font-size: 12px
            .desceiption_text_apartament
                padding: 20px
                background: rgba(255, 255, 255, 0.5)
                box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5)
                border-radius: 15px
                margin-top: 50px
                h4
                    margin-bottom: 40px
                    font-weight: 700
                    font-size: 40px
                    line-height: 30px
                    color: #000000
                    @media screen and ( max-width: 1000px )
                        font-size: 25px
                        margin: 0 0 10px 0
                        @media screen and ( max-width: 450px )
                            font-size: 20px
                p
                    font-weight: 400
                    font-size: 24px
                    line-height: 30px
                    color: #3F3F3F
                    @media screen and ( max-width: 1000px )
                        font-size: 18px
                        @media screen and ( max-width: 450px )
                            font-size: 14px
        .apartament_advertising
            background: #FFFFFF
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5)
            border-radius: 15px
            width: 255px
            min-height: 100% 
