.blockParent_for_detalied {
  position: absolute;
  margin-top: 120px;
  width: 100%;
}
.blockParent_for_detalied .parent_blockDetail {
  padding: 30px 100px 50px;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.blockParent_for_detalied .parent_blockDetail img {
  width: 800px;
  height: 500px;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}
.blockParent_for_detalied .parent_blockDetail > h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  margin: 21px 0 11px 0;
}
.blockParent_for_detalied .parent_blockDetail > p {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #3F3F3F;
}
.blockParent_for_detalied .parent_blockDetail div h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #000000;
  margin: 30px 0;
}
.blockParent_for_detalied .parent_blockDetail div .block_for_comments {
  width: 75%;
  padding: 20px;
  margin: 0 auto;
  margin-top: 15px;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.blockParent_for_detalied .parent_blockDetail div .block_for_comments :hover {
  scale: 1.005;
}
.blockParent_for_detalied .parent_blockDetail div .block_for_comments div:nth-child(1) {
  height: 50px;
}
.blockParent_for_detalied .parent_blockDetail div .block_for_comments div:nth-child(1) img {
  width: 50px;
  height: 50px;
}
.blockParent_for_detalied .parent_blockDetail div .block_for_comments div:nth-child(2) h2 {
  font-size: 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}
.blockParent_for_detalied .parent_blockDetail div .block_for_comments div:nth-child(2) p {
  font-size: 12px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #3F3F3F;
}
.blockParent_for_detalied .parent_blockDetail form {
  width: 100%;
  margin: 20px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blockParent_for_detalied .parent_blockDetail form input {
  width: 50%;
  margin: 8px auto;
  height: 35px;
  border-radius: 8px;
  padding: 0 20px;
  font-size: 20px;
}
.blockParent_for_detalied .parent_blockDetail form textarea {
  min-width: 500px;
  height: 80px;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 0 auto;
}
.blockParent_for_detalied .parent_blockDetail form > button {
  border-radius: 10px;
  padding: 10px 0px;
  background-color: #007AFF;
  cursor: pointer;
  border: none;
  width: 150px;
  margin: 25px auto 0;
}