.blockParent_for_detalied {
  position: absolute;
  margin-top: 120px;
  width: 100%;
}
.blockParent_for_detalied .parent_blockDetail {
  padding: 30px 100px 50px;
  border-radius: 15px;
  margin-bottom: 50px;
}
@media screen and (max-width: 850px) {
  .blockParent_for_detalied .parent_blockDetail {
    padding: 30px;
  }
}
@media screen and (max-width: 850px) and (max-width: 760px) {
  .blockParent_for_detalied .parent_blockDetail {
    padding: 30px 15px;
  }
}
@media screen and (max-width: 850px) and (max-width: 760px) and (max-width: 550px) {
  .blockParent_for_detalied .parent_blockDetail {
    padding: 20px 0px;
  }
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising {
  max-width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px auto 0;
  padding: 0 5px 0 0;
}
@media screen and (max-width: 1360px) {
  .blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising {
    max-width: 100%;
    margin: 50px auto 0;
    gap: 40px;
  }
}
@media screen and (max-width: 1360px) and (max-width: 950px) {
  .blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising {
    display: block;
    padding: 0px;
  }
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed {
  width: 800px;
}
@media screen and (max-width: 950px) {
  .blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed {
    max-width: 100%;
  }
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .block_for_contentText {
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 0 0 20px 0;
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .block_for_contentText > h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
  color: #000000;
  background: #fff;
  text-align: left;
  border-radius: 15px 15px 0 0;
  padding: 20px 20px 20px 35px;
  max-width: 100%;
}
@media screen and (max-width: 650px) {
  .blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .block_for_contentText > h1 {
    font-size: 18px;
    padding: 0 0 0 20px;
  }
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .block_for_contentText > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #3F3F3F;
  padding: 20px 30px 20px 35px;
  max-width: 100%;
  overflow-wrap: break-word;
}
@media screen and (max-width: 650px) {
  .blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .block_for_contentText > p {
    font-size: 13px;
    line-height: 20px;
    padding: 15px 15px 0px;
  }
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .comments_parentBlock {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 0 0 25px 0;
  margin: 40px 0;
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .comments_parentBlock h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: left;
  color: #000000;
  padding: 25px;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .comments_parentBlock > p {
  padding: 30px;
  font-size: 22px;
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .comments_parentBlock .block_for_comments {
  width: 100%;
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .comments_parentBlock .block_for_comments :hover {
  scale: 1.005;
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .comments_parentBlock .block_for_comments div:nth-child(1) {
  height: 50px;
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .comments_parentBlock .block_for_comments div:nth-child(1) img {
  width: 75px;
  height: 75px;
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .comments_parentBlock .block_for_comments div:nth-child(2) h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .comments_parentBlock .block_for_comments div:nth-child(2) h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .comments_parentBlock .block_for_comments div:nth-child(2) p {
  font-size: 12px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #3F3F3F;
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .block_for_addComment {
  width: 100%;
  padding: 20px 25px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .block_for_addComment h5 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .block_for_addComment form {
  width: 100%;
  margin: 20px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .block_for_addComment form input {
  min-width: 90%;
  height: 50px;
  margin: 8px auto;
  border-radius: 8px;
  padding: 0 20px;
  font-size: 25px;
  text-align: center;
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .block_for_addComment form textarea {
  min-width: 90%;
  height: 80px;
  font-size: 28px;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 15px auto 0;
  text-align: center;
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .contentBlock_detailed .block_for_addComment form > button {
  border-radius: 15px;
  padding: 10px 0px;
  background-color: #007AFF;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 25px;
  margin: 25px auto 0;
  padding: 8px 30px;
}
@media screen and (max-width: 950px) {
  .blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .advertising_desktop {
    display: none;
  }
}
.blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .advertising_mobile {
  display: none;
}
@media screen and (max-width: 950px) {
  .blockParent_for_detalied .parent_blockDetail .block_delailedInfo_and_advertising .advertising_mobile {
    display: block;
    margin: 0 0 20px 0;
  }
}