.block_shadow_registration
    height: 100vh
    width: 100%
    position: absolute
    z-index: 99
    top: 0
    left: 0
    background: #fff
    animation: startWindow 1s forwards
    @keyframes startWindow
        0%
            opacity: 0
        50%
            opacity: 0.5
        100%
            opacity: 1
.block_auth
    width: 400px
    height: 70px
    background: #01CC01
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5)
    border-radius: 15px
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    z-index: 99
    top: 0
    bottom: 0
    right: 0
    left: 0
    margin: auto
    color: #fff
    @media screen and ( max-width: 500px )
        width: 340px
    h5
        width: 70%
        text-align: center            
.block_for_login_registration
        width: 430px
        height: 450px
        position: fixed
        z-index: 99
        top: 0
        bottom: 0
        right: 0
        left: 0
        margin: auto
        border-radius: 15px
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5)
        background: rgba(255, 255, 255, 0.5)
        animation: startWindow_inner 1.5s forwards
        @media screen and ( max-width: 460px )
            width: 320px
            height: 380px
            top: -50px
        @keyframes startWindow_inner
            0%
                opacity: 0
            
            50%
                opacity: 0.5
                
            100%
                opacity: 1

        h1
            font-weight: 700
            font-size: 16px
            line-height: 20px
            color: #000000
            text-align: center
            padding: 10px 0
            margin-bottom: 15px
            border-radius: 15px 15px 0 0
            background: #fff
        form
            width: 350px
            margin: 0 auto
            display: flex
            flex-wrap: wrap
            justify-content: center
            @media screen and ( max-width: 460px )
                width: 280px
            p
                padding: 5px
            input
                font-family: 'Unbounded'
                font-weight: 500
                font-size: 15px
                margin-bottom: 15px
                height: 40px
                background: #FFFFFF
                box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.8)
                border-radius: 15px
                border: none
                width: 100%
                text-align: center
                padding: 0 20px
                cursor: pointer
                color: rgba(0, 0, 0, 1)
                @media screen and ( max-width: 460px )
                    height: 32px
            .entrance_btn
                font-family: 'Unbounded'
                line-height: 17px
                box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5)
                border-radius: 15px
                background: #007AFF
                border: none
                width: 200px
                height: 40px
                font-weight: 300
                font-size: 14px
                color: white
                cursor: pointer
                transition: 0.8s
                opacity: 0.9
                margin-top: 15px
                @media screen and ( max-width: 460px )
                    height: 32px
                    width: 180px
            :hover
                opacity: 1
        .block_for_password
            width: 100%
            // padding: 15px 55px 0
            text-align: center
            span
                font-size: 12px
                font-weight: 400
                line-height: 12px
                color: #000000
            button
                font-family: 'Unbounded'
                margin-left: 8px
                border: none
                background: transparent
                cursor: pointer
                font-size: 12px
                font-weight: 400
                line-height: 12px
                color: #001AFF
        > button
            top: 0
            right: 0
            padding: 11px
            position: absolute
            border-radius: 0 10px 0 0
            background-color: transparent
            cursor: pointer
            border: none
            img
                width: 20px
                height: 20px

.active_login_registration
    background: red
