.nav_blockParent
    width: 100%
    background-color: #fff
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5)
    border-radius: 0px 
    height: 90px
    position: fixed
    z-index: 99
    @media screen and ( max-width: 1000px )
        height: 75px
    > div /// container
        // padding: 0 50px
    nav 
        max-width: 100%
        background-color: transparent
        display: flex
        justify-content: space-between
        align-items: center
        padding: 16px 15px
        @media screen and ( max-width: 1280px )
            padding: 16px 0 0 40px
            @media screen and ( max-width: 1000px )
                padding: 10px 22px 0 40px
                @media screen and ( max-width: 650px )
                    padding: 10px 22px 0 10px
        .block_for_imgLine
            display: flex
            align-items: center
            .line_mini
                height: 45px
                width: 3px
                background-color: black
                margin: 0 5px
                @media screen and ( max-width: 750px )
                    display: none
            h1
                width: 64px
                font-weight: 300
                font-size: 16px
                line-height: 20px
                text-transform: capitalize
                color: #000000
                @media screen and ( max-width: 750px )
                    display: none
        h2 
            font-weight: 600
            font-size: 16px
            line-height: 20px
            color: #1e1e1e
            display: none
            @media screen and ( max-width: 750px )
                display: block
        .block_for_navBtns
            width: 385px
            display: flex
            align-items: center
            gap: 50px
            @media screen and ( max-width: 750px )
                display: none
            .none
                animation: noneBtn 1.5s forwards
            @keyframes noneBtn 
                0%
                    opacity: 1
                50%
                    opacity: 0.5
                    width: 80px
                100%
                    opacity: 0    
                    display: none 
                    width: 0
            .iAmHere
                animation: iAmHere 1.5s forwards
            @keyframes iAmHere 
                0%
                    opacity: 0.4
                50%
                    opacity: 0.8
                100%
                    opacity: 1 
            b
                font-family: 'Unbounded'
                font-style: normal
                font-weight: 300
                line-height: 20px
                color: #FFFFFF
                font-size: 16px
                padding: 5px 30px
                background: #4B08A1
                box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5)
                border-radius: 15px
            > button
                position: relative
                font-weight: 300
                font-size: 18px
                line-height: 20px
                color: #000000
                background-color: transparent
                border: none
                cursor: pointer
                display: flex
                align-items: center
                gap: 5px
                img
                    width: 17px
                    height: 17px
        > button 
            background-color: transparent
            border: none
            cursor: pointer
            display: none
            @media screen and ( max-width: 750px )
                display: block
        .btn_left_rigth 
            width: 50px
            height: 50px
            z-index: 99

