.nav_blockParent {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  height: 90px;
  position: fixed;
  z-index: 99;
}
@media screen and (max-width: 1000px) {
  .nav_blockParent {
    height: 75px;
  }
}
.nav_blockParent nav {
  max-width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 35px;
}
@media screen and (max-width: 1280px) {
  .nav_blockParent nav {
    padding: 20px 80px;
  }
}
@media screen and (max-width: 1280px) and (max-width: 1120px) {
  .nav_blockParent nav {
    padding: 18px 30px 0;
  }
}
@media screen and (max-width: 1280px) and (max-width: 1120px) and (max-width: 1000px) {
  .nav_blockParent nav {
    padding: 12px 30px 0;
  }
}
@media screen and (max-width: 1280px) and (max-width: 1120px) and (max-width: 1000px) and (max-width: 750px) {
  .nav_blockParent nav {
    padding: 13px 0px;
  }
}
@media screen and (max-width: 1280px) and (max-width: 1120px) and (max-width: 1000px) and (max-width: 750px) and (max-width: 460px) {
  .nav_blockParent nav {
    margin: -10px auto 0;
    padding: 13px 10px;
  }
}
.nav_blockParent nav .block_for_imgLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav_blockParent nav .block_for_imgLine .line_mini {
  height: 45px;
  width: 3px;
  background-color: black;
  margin: 0 5px;
}
@media screen and (max-width: 1120px) {
  .nav_blockParent nav .block_for_imgLine .line_mini {
    display: none;
  }
}
.nav_blockParent nav .block_for_imgLine h1 {
  width: 64px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
}
@media screen and (max-width: 1120px) {
  .nav_blockParent nav .block_for_imgLine h1 {
    display: none;
  }
}
.nav_blockParent nav h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #1e1e1e;
  display: none;
}
@media screen and (max-width: 1120px) {
  .nav_blockParent nav h2 {
    display: block;
  }
}
.nav_blockParent nav .block_for_navBtns {
  max-width: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
@media screen and (max-width: 1120px) {
  .nav_blockParent nav .block_for_navBtns {
    display: none;
  }
}
.nav_blockParent nav .block_for_navBtns .none {
  -webkit-animation: noneBtn 1.5s forwards;
          animation: noneBtn 1.5s forwards;
}
@-webkit-keyframes noneBtn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    width: 80px;
  }
  100% {
    opacity: 0;
    display: none;
    width: 0;
  }
}
@keyframes noneBtn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    width: 80px;
  }
  100% {
    opacity: 0;
    display: none;
    width: 0;
  }
}
.nav_blockParent nav .block_for_navBtns .iAmHere {
  -webkit-animation: iAmHere 1.5s forwards;
          animation: iAmHere 1.5s forwards;
}
@-webkit-keyframes iAmHere {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes iAmHere {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.nav_blockParent nav .block_for_navBtns b {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 300;
  line-height: 10px;
  color: #FFFFFF;
  font-size: 16px;
  padding: 10px 30px;
  background: #4B08A1;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 130px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
.nav_blockParent nav .block_for_navBtns > button {
  position: relative;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.nav_blockParent nav .block_for_navBtns > button img {
  width: 17px;
  height: 17px;
}
.nav_blockParent nav > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 1120px) {
  .nav_blockParent nav > button {
    display: block;
  }
}
.nav_blockParent nav .btn_left_rigth {
  width: 50px;
  height: 50px;
  z-index: 99;
}