.header_textMain {
  padding: 10px 0 25px;
  text-align: center;
}

.block_for_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1460px) {
  .block_for_content {
    max-width: 80%;
  }
}
@media screen and (max-width: 1460px) and (max-width: 1240px) {
  .block_for_content {
    max-width: 100%;
    padding: 0 100px;
  }
}
@media screen and (max-width: 1460px) and (max-width: 1240px) and (max-width: 1190px) {
  .block_for_content {
    padding: 0px 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 1460px) and (max-width: 1240px) and (max-width: 1190px) and (max-width: 1155px) {
  .block_for_content {
    padding: 0px 60px;
  }
}
@media screen and (max-width: 1460px) and (max-width: 1240px) and (max-width: 1190px) and (max-width: 1155px) and (max-width: 590px) {
  .block_for_content {
    padding: 0;
  }
}
.block_for_content .cards_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding: 27px 0 0 0;
}
@media screen and (max-width: 1300px) {
  .block_for_content .cards_block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (max-width: 1300px) and (max-width: 1120px) {
  .block_for_content .cards_block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.block_for_content .cards_block .no_posts {
  width: 1050px;
  padding: 200px 0px;
  text-align: center;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
@media screen and (max-width: 1460px) {
  .block_for_content .cards_block .no_posts {
    max-width: 800px;
  }
}
@media screen and (max-width: 1460px) and (max-width: 1390px) {
  .block_for_content .cards_block .no_posts {
    width: 700px;
  }
}
@media screen and (max-width: 1460px) and (max-width: 1390px) and (max-width: 1270px) {
  .block_for_content .cards_block .no_posts {
    width: 650px;
    margin: 0 20px 0 0;
  }
}
@media screen and (max-width: 1460px) and (max-width: 1390px) and (max-width: 1270px) and (max-width: 1120px) {
  .block_for_content .cards_block .no_posts {
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
@media screen and (max-width: 1460px) and (max-width: 1390px) and (max-width: 1270px) and (max-width: 1120px) and (max-width: 800px) {
  .block_for_content .cards_block .no_posts {
    font-size: 20px;
  }
}