.block_imgInfo {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../assests/images/main/main_photo_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 99;
}
@media screen and (max-width: 700px) {
  .block_imgInfo {
    display: none;
    text-align: center;
  }
  .block_imgInfo p {
    font-weight: 700;
    font-size: 28px;
    color: #000;
    -webkit-animation: text 5s 1;
            animation: text 5s 1;
    letter-spacing: 10px;
  }
  @-webkit-keyframes text {
    0% {
      margin-bottom: -40px;
      letter-spacing: 20px;
    }
    30% {
      letter-spacing: 40px;
      margin-bottom: -40px;
    }
    80% {
      letter-spacing: 25px;
      margin-bottom: -10px;
    }
    99% {
      letter-spacing: 18px;
    }
  }
  @keyframes text {
    0% {
      margin-bottom: -40px;
      letter-spacing: 20px;
    }
    30% {
      letter-spacing: 40px;
      margin-bottom: -40px;
    }
    80% {
      letter-spacing: 25px;
      margin-bottom: -10px;
    }
    99% {
      letter-spacing: 18px;
    }
  }
  .block_imgInfo h1 {
    font-weight: 700;
    font-size: 58px;
    letter-spacing: 8px;
    color: #000;
    margin-top: 10px;
    -webkit-animation: text_2 5s 1;
            animation: text_2 5s 1;
  }
}
@media screen and (max-width: 700px) and (max-width: 1250px) {
  .block_imgInfo h1 {
    font-size: 76px;
  }
}
@media screen and (max-width: 700px) and (max-width: 1250px) and (max-width: 900px) {
  .block_imgInfo h1 {
    font-size: 56px;
  }
}
@media screen and (max-width: 700px) {
  @-webkit-keyframes text_2 {
    0% {
      color: transparent;
      letter-spacing: 12px;
    }
    50% {
      color: transparent;
      letter-spacing: 18px;
    }
    80% {
      letter-spacing: 10px;
    }
    99% {
      letter-spacing: 9px;
    }
  }
  @keyframes text_2 {
    0% {
      color: transparent;
      letter-spacing: 12px;
    }
    50% {
      color: transparent;
      letter-spacing: 18px;
    }
    80% {
      letter-spacing: 10px;
    }
    99% {
      letter-spacing: 9px;
    }
  }
}

.header_textMain {
  padding: 50px 0 25px;
  padding-top: 120px;
  text-align: center;
}
@media screen and (max-width: 520px) {
  .header_textMain {
    display: none;
  }
}

.block_for_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: -1px 0 0 30px;
  max-width: 95%;
  margin: 0 auto;
}
@media screen and (max-width: 1460px) {
  .block_for_content {
    padding: 0 30px;
    max-width: 100%;
  }
}
@media screen and (max-width: 1460px) and (max-width: 1320px) {
  .block_for_content {
    gap: 0px;
  }
}
@media screen and (max-width: 1460px) and (max-width: 1320px) and (max-width: 940px) {
  .block_for_content {
    max-width: 90%;
  }
}
@media screen and (max-width: 1460px) and (max-width: 1320px) and (max-width: 940px) and (max-width: 600px) {
  .block_for_content {
    margin: 0 auto;
  }
}
.block_for_content .cards_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 30px;
  padding: 27px 0px;
}
@media screen and (max-width: 1460px) {
  .block_for_content .cards_block {
    max-width: 1000px;
    padding: 27px 0;
    max-width: 900px;
  }
}
@media screen and (max-width: 1460px) and (max-width: 1220px) {
  .block_for_content .cards_block {
    max-width: 850px;
    padding: 27px 0px 27px 0;
  }
}
@media screen and (max-width: 1460px) and (max-width: 1220px) and (max-width: 1170px) {
  .block_for_content .cards_block {
    padding: 27px 0;
    max-width: 800px;
  }
}
@media screen and (max-width: 1460px) and (max-width: 1220px) and (max-width: 1170px) and (max-width: 1100px) {
  .block_for_content .cards_block {
    max-width: 750px;
  }
}
@media screen and (max-width: 1460px) and (max-width: 1220px) and (max-width: 1170px) and (max-width: 1100px) and (max-width: 940px) {
  .block_for_content .cards_block {
    padding: 27px 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 1460px) and (max-width: 1220px) and (max-width: 1170px) and (max-width: 1100px) and (max-width: 520px) {
  .block_for_content .cards_block {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 27px 0px;
  }
}
.block_for_content .cards_block h1 {
  width: 100%;
  padding: 250px 0;
  font-size: 30px;
}