.parent_searchBlock
    width: 80%
    display: flex
    justify-content: center
    gap: 5px
    margin-right: 20px
    .search_input
        width: 80%
        height: 30px
        border: 1px solid black
        border-radius: 5px
        font-size: 20px
        padding: 0 15px
    button
        font-weight: 600
        width: 80px
        background-color: transparent
        border-radius: 8px
        border: 1px solid black
        font-size: 20px
    button:hover
        background: #888