.block_for_pagination
    height: 100px
    width: 100% 
    display: flex
    justify-content: center
    align-items: center
    margin-top: 30px
.footer_parent
    background-color: black
    position: relative
    margin-top: 100px
    .footer_child
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 50px 0 20px
        @media screen and ( max-width: 670px )
            display: block
            text-align: center
            padding: 0 40px
            @media screen and ( max-width: 540px )
                padding: 0
        .footer_inner
            padding: 50px 20px
            .link_info
                width: 200px
                display: flex
                justify-content: space-between
                align-items: center
                margin-bottom: 15px
                @media screen and ( max-width: 670px )
                    margin: 0 auto
                h6
                    font-weight: 300
                    font-size: 32px
                    line-height: 40px
                    text-transform: capitalize
                    color: #FFFFFF 
                    width: 128px
                    @media screen and ( max-width: 1000px )
                        font-size: 25px
                        
            > ul
                li
                    display: flex
                    gap: 15px
                    margin-top: 10px
                    @media screen and ( max-width: 670px )
                        justify-content: center
                        @media screen and ( max-width: 430px )
                            display: block
                    p
                        font-weight: 300
                        font-size: 20px
                        line-height: 25px
                        color: #FFFFFF
                        @media screen and ( max-width: 1000px )
                            font-size: 15px
                    span
                        font-weight: 300
                        font-size: 20px
                        line-height: 25px
                        color: rgba(255, 255, 255, 0.7)
                        @media screen and ( max-width: 1000px )
                            font-size: 15px
                        
            .block_footerIcon
                ul
                    display: flex
                    width: 192px
                    justify-content: space-between
                    margin-top: 53px
                    @media screen and ( max-width: 670px )
                        margin: 20px auto
                    img
                        @media screen and ( max-width: 1000px )
                            width: 18px
                            height: 15px
        .block_for_ornament
            img
                width: 150px
                margin-bottom: 20px
