.advertising_parent {
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 300px;
  height: 650px;
  min-height: 100%;
  overflow-y: scroll;
  text-align: center;
  background-color: #FFDD00;
  position: sticky;
  top: 120px;
}
.advertising_parent h4 {
  padding: 20px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  background: #fff;
  border-radius: 10px 10px 0 0;
}
.advertising_parent ul li {
  background: #FFF4AA;
  padding: 10px;
  border-radius: 15px;
  margin: 15px;
}
.advertising_parent ul li h6 {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 500;
  width: 160px;
  font-size: 18px;
  line-height: 105.8%;
  margin: 0 auto 10px;
}
.advertising_parent ul li p {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
.advertising_parent ul li button {
  margin-top: 10px;
  padding: 6px 28px;
  background: #FFDD00;
  border-radius: 15px;
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
}

.advertising_parent::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}