$topMenu: 63px;

.dropDownMenu__shadow {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: $topMenu;
  z-index: 5;
}
.categoriesBlock {
  display: flex;
  flex-direction: column;
  > div {
    // display: flex;
    // justify-content: center !important;
    // gap: 130px !important;
    padding: 0 0 50px 165px;
  }
  > ul {
    display: inline-block;
    columns: 3;
    column-gap: 120px;
    max-width: 100%;
    margin: 0 auto;
    > li {
      font-size: 20px;
      cursor: pointer;
      margin-bottom: 10px;
      break-inside: avoid-column;
    }
  }
}
