.block_shadow_forAddPosts {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 98;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.8;
  overflow: hidden;
  position: fixed;
}

.parentBlock_addPosts {
  width: 500px;
  height: 550px;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: white;
  border-radius: 10px;
  padding: 50px 30px 0;
}
.parentBlock_addPosts h5 {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  padding: 15px 0;
  color: #000000;
}
.parentBlock_addPosts form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.parentBlock_addPosts form .none_Block {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  line-height: 0px;
}
.parentBlock_addPosts form .one {
  width: 350px;
  height: 38px;
  border-radius: 8px;
  border: 1px solid black;
  padding: 0 20px;
  font-size: 20px;
  color: white;
  background: #007AFF;
}
.parentBlock_addPosts form input {
  width: 350px;
  height: 38px;
  border-radius: 8px;
  border: 1px solid black;
  padding: 0 20px;
  font-size: 20px;
  color: white;
  background: #007AFF;
  text-align: center;
  margin: 0 auto;
}
.parentBlock_addPosts form ::-webkit-input-placeholder {
  color: white;
}
.parentBlock_addPosts form ::-moz-placeholder {
  color: white;
}
.parentBlock_addPosts form :-ms-input-placeholder {
  color: white;
}
.parentBlock_addPosts form ::-ms-input-placeholder {
  color: white;
}
.parentBlock_addPosts form ::placeholder {
  color: white;
}
.parentBlock_addPosts form textarea {
  width: 350px;
  height: 100px;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 20px;
  background: #007AFF;
  margin: 0 auto;
  color: white;
}
.parentBlock_addPosts form .two {
  background: #01CC01;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px 30px;
  display: block;
  font-size: 20px;
}
.parentBlock_addPosts button {
  display: block;
  margin: 0 auto;
  background: red;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 3px 30px;
  display: block;
  font-size: 20px;
  margin-top: 5px;
}