.block_for_addComment
    width: 100%
    padding: 20px 25px
    background: rgba(255, 255, 255, 0.5)
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5)
    border-radius: 15px
    h5
        font-weight: 700
        font-size: 40px
        line-height: 50px
        color: #000000
    form
        width: 100%
        margin: 20px auto 0
        display: flex
        flex-direction: column
        input
            min-width: 90%
            height: 50px
            margin: 9px auto
            border-radius: 8px
            padding: 0 20px
            font-size: 25px
            text-align: center
            border: none
            box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.50)
        input::placeholder
            font-family: Unbounded
            font-weight: 300
        textarea
            min-width: 90%
            height: 180px
            font-size: 22px
            padding: 5px 10px
            border-radius: 8px
            margin: 12px auto 0
            text-align: center
            border: none
            box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.50)
            resize: vertical
        textarea::placeholder
            font-family: Unbounded
            font-weight: 300
            font-size: 25px
        > button
            border-radius: 15px
            padding: 10px 0px
            background-color: #007AFF
            cursor: pointer
            border: none
            color: white
            font-size: 25px
            margin: 25px auto 0
            padding: 8px 30px
           

