.container {
  max-width: 1400px;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}
@media screen and (max-width: 750px) and (max-width: 460px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
}

.block_animations {
  background-image: url("./assests/images/main/animation_for_bigDisplay.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-width: 90%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 30px;
  /* //////////////animation///////////////// */
  -webkit-animation-name: infiniteupdown;
          animation-name: infiniteupdown;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 920px) {
  .block_animations {
    background-size: contain;
  }
}
@media screen and (max-width: 920px) and (max-width: 550px) {
  .block_animations {
    background-image: url("./assests/images/animation_img.png");
  }
}

@-webkit-keyframes infiniteupdown {
  5% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  60% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  70% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  80% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  99% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes infiniteupdown {
  5% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  60% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  70% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  80% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  99% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.block_info {
  position: relative;
}

.block_push {
  width: 100%;
  height: 120px;
}

a {
  color: #000;
}