.container {
  width: 1200px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.parent {
  background: var(--root-color-gradient);
}
//linear-gradient(rgb(50, 50, 63), #144381)
