@import url('../../../globalStyles/colors.scss');

.navMenu{
    padding: 20px 0px;
    background: var(--root-color-white);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.50);
    &__logo {
        display: flex;
        // justify-content: center;
        align-items: center;
        > img {
            display: block;
            width: 60px;
            height: 60px;
        }
        > div {
            height: 55px;
            width: 2px;
            background-color: var(--root-color-black);
            margin: 0 5px;
        }
        > p {
            width: 70px;
            color: var(--root-color-black);
            font-family: Unbounded;
            font-size: 22px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: capitalize;
        }
    }
    &__pages {
        
    }
}