@import url('../../../globalStyles/colors.scss');

.navMenu{
    padding: 20px 0px;
    background: var(--root-color-white);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.50);
    &__inner{
        display: flex;
        align-items: center;
        // background: green;
        justify-content: space-between;
        .logo {
            display: flex;
            justify-content: center;
            gap: 5px;
            align-items: center;
            background: black;
            padding: 6px 10px;
            border-radius: 8px;
            img {
                // display: none;
                width: 30px;
                height: 30px;
                border: 1px solid var(--root-color-black);
                border-radius: 50%;
            }
            // > div {
            //     height: 55px;
            //     width: 2px;
            //     background-color: var(--root-color-black);
            //     margin: 0 5px;
            // }
            > p {
                // width: 0px;
                color: var(--root-color-black);
                font-family: var(--root-font-montserrat);
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -1px;
                text-transform: capitalize;
                color: white;
                
            }  
        }
        .pages {
            display: flex;
            justify-content: space-between;
            // gap: 20px;
            width: 60%;
            padding: 0 20px;
            overflow-x: scroll;
            li {
                padding: 5px 10px;
                font-family: var(--root-font-openSans);
                font-weight: 500;
                text-align: center;
                // background: red;
                display: block;
                // width: 180px;
                width: auto;
                a {
                    display: block;
                    padding: 0 10px;
                    width: auto;
                    // width: 150px;
                }
            }
            .activePage {
                background-color: var(--root-color-black);
                padding: 5px 10px;
                border-radius: 8px;
                transition: background-color 0.5s, color 0.5s;
                a {
                    color: var(--root-color-white);
                    font-family: var(--root-font-openSans);
                    font-weight: 500;
                }
            }
        }
        .pages::-webkit-scrollbar {
            display: none;
                /* Скрываем полосу прокрутки в Chrome и Safari */
        }
    }
}