.slider_parentBlock
    position: relative
    z-index: 3
    height: 90vh
    display: flex
    justify-content: center
    align-items: center
    background-image: url("../../assests/images/main/bac-d_2.jpg")
    // background-repeat: no-repeat
    background-size: contain
    box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.5)
    @media screen and ( max-width: 800px )
        margin-bottom: 20px
        height: 70vh
        @media screen and ( max-width: 600px )
            // height: 60vh
            display: none
            // padding: 40px 0 0 0 
    .slider_block
        max-width: 100%
        border-radius: 15px
        position: relative
        display: flex
        justify-content: center
        align-items: center
        gap: 30px   
        .block_for_img
            width: 700px
            height: 450px
            border-radius: 20px
            background-color: black
            border: 2px solid white
            @media screen and ( max-width: 1180px )
                width: 500px
                height: 300px
            :hover
                box-shadow: -25px 34px 105px rgba(0, 0, 0, 10.5)
                opacity: 0.8
            img
                width: 100%
                height: 100%
                object-fit: cover
                border-radius: 15px
                position: relative
            h2
                font-family: 'Unbounded'
                font-style: normal
                position: absolute
                z-index: 10
                top: 1px
                background-color: black
                color: #fff
                padding: 10px
                border-radius: 20px 0 20px 0
                box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5)
                @media screen and ( max-width: 1180px )
                    top: 37px
                    @media screen and ( max-width: 880px )
                        top: 1px
                        @media screen and ( max-width: 650px )
                            font-size: 18px
        .block_for_contentImg
            width: 400px 
            display: flex
            flex-wrap: wrap
            gap: 10px
            @media screen and ( max-width: 1180px )
                width: 300px
                @media screen and ( max-width: 880px )
                    display: none
            .block_for_history
                width: 400px
                height: 220px 
                border-radius: 10px
                position: relative
                background-color: black
                border: 2px solid white
                @media screen and ( max-width: 1180px )
                    width: 300px
                    height: 180px
                :hover
                    // box-shadow: 0px 0px 100px 5px black
                    opacity: 0.8
                img
                    width: 100%
                    height: 100%
                    border-radius: 10px
                h3
                    position: absolute
                    color: white
                    top: 0px
                    background-color: black
                    padding: 8px
                    font-family: Arial, Helvetica, sans-serif
                    font-size: 15px
                    border-radius: 10px 0 14px 0
                    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5)
            .block_for_clear
                width: 400px
                height: 215px 
                border-radius: 10px
                position: relative
                background: black   
                border: 2px solid white   
                @media screen and ( max-width: 1180px )
                    width: 300px
                    height: 180px          
                :hover
                    opacity: 0.8
                img
                    width: 100%
                    height: 100%
                    border-radius: 10px
                h4
                    position: absolute
                    top: 0
                    background-color: black
                    padding: 8px
                    color: #fff
                    font-family: Arial, Helvetica, sans-serif
                    font-size: 15px
                    border-radius: 10px 0 14px 0
                    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5)
       